*{
    margin: 0;
    padding: 0;
}


/* ---------media query------------ */
@media (min-width:475px) {
  
   /* .seller_left
   {
      display: none;
   } */
}

@media (max-width:768px) {
    
    #plant_info{
        display: none;
    }
    .Our_Goodness_Promise{
        flex-direction: column;
    }
    .the_heading{
        display: none;
    }
    
#smallcontainer ul li{
   font-size: small; 
}

#smallcontainer ul{
   justify-content: center;
   text-align: center; 
   margin-bottom: 20px;
   background-color: #ec120b;
    
}

#container1{
   display: grid;
   grid-template-columns: repeat(6,1fr);
   grid-template-rows: repeat(2,1fr);
   margin-bottom: 20px;
   
   
}
.search_section{
 grid-row: 2/-1;
 grid-column: 2/5;
  
}
.logincart{
    grid-row: 1/2;
    grid-column: 2/4;

}
.logo_div{
    grid-column: 1/2;
    grid-row: 2/3;
}

#search_input{
    width: 500px;
    border-radius: 4px;
    padding: 8px;
    border: 1px solid lightgrey ;
    outline: none;
    height: 40px;
 }

 .searchbtn{
    width: 100px;
    padding: 8px;
    padding-left: 10px;
    background: none;
    border: none;
    outline: none;
    color: white;
    background-color: #00afef;
    border-radius: 4px;
    font-style: normal;
    height: 40px;
 }
 .icon{
    padding-right: 5px;
 }

 .logincart a{
    text-decoration: none;
    margin: 0 10px;
    font-size: medium;
    color: #5C5C5C;
 }
 .logincart i{
    text-decoration: none;
    margin: 0 10px;
    color: #00AFF5; 
 }

 #container2{
     display: none;
 }
 #slideshow img{
     width: 100%;
 }


}









/* --------media query end---------------- */


#slideshow img{
    width: 100%;
}

#smallcontainer ul li{
    color: white;
    font-size: small;
    list-style: none;
    margin-top: 8px;
    margin-bottom: 8px;
     
 }
 
 #smallcontainer ul{
     display: flex;
    justify-content: space-around;
    text-align: center; 
    margin-bottom: 20px;
    background-color: #D4424C;
     
 }


#container1{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    margin-left: 40px;
    margin-right: 80px;
    justify-content: center;
}
#userName{
    display: none;
}
 

.searchbtn{
   width: 100px;
   padding: 8px;
   padding-left: 10px;
   background: none;
   border: none;
   outline: none;
   color: white;
   background-color: #00afef;
   border-radius: 4px;
   font-style: normal;
}
.icon{
   padding-right: 5px;
}

 #search_input{
    width: 500px;
    border-radius: 4px;
    padding: 8px;
    border: 1px solid lightgrey ;
    outline: none;
 }
 .logincart a{
    text-decoration: none;
    margin: 0 10px;
    font-size: medium;
    color: #5C5C5C;
 }
 .logincart i{
    text-decoration: none;
    margin: 0 10px;
    color: #00AFF5;
    
 }

 #container2{
     margin-top: 20px;
     margin-bottom: 10px;
 }
.mainmenu{
    
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 0 100px;
}
.mainmenu li a{
    text-decoration: none;
    color: #5C5C5C; 
}

 